* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page{
    padding: 24px;
}

.box{
    width: 320px;
    border: 8px solid black;
    margin: 24px;
    padding: 16px;
    background: greenyellow;
    border-radius: 12px;
}

.box h2 {
    margin: 0 0 8px 0;
}