/*
element selctor applies to all p tags unless overridden. 
*/
p {
    color: brown;
}

/*
class selector
*/
.intro {
   color: aquamarine;
   font-weight: 700;
}

/*
Id selector
*/
#main-title {
    color: crimson;
    margin-bottom: 0;
}

.last {
    color: darkorange;
    font-size: 18px;
}

.btn {
    background: beige;
    color: black;
    padding: 10px 10px;
    border: 0;
    border-radius: 12px;
}


