:root {
    --text: #222222;
    --muted: aliceblue;
    --card: red;
    --bg: aliceblue;
    --tbc: blueviolet;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--bg);
    color: var(--text);
    margin: 0;
}

.page {
    padding: 40px 16px;
}

.card {
    max-width: 560px;
    margin: 0 auto;
    background: var(--card);
    padding: 20px 20px;
    border-radius: 10px;
}


h1 {
    color: var(--tbc);
}


p {
    line-height: 1.6;
}


.muted {
    color: var(--muted);
    font-size: 10px;
}

.link {
    color: blueviolet;
}
