* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #FFEDE1;
}

.wrap {
    padding: 24px 24px;
}

.login {
    max-width: 400px;
    background: #FAFFD8;
    padding: 8px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.login h1 {
    font-size: 40px;
    margin: 10px 10px 10px 0px;
}

label {
    font-size: 20px;
}

input {
    border-radius: 4px;
    border: 4px solid;
    color: #DF2935;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 3px #B9E28C;
}

button {
    background: #2C3D55;
    color: #F46036;
    cursor: pointer;
    padding: 10px;
    margin-top: 8px;
}

button:hover {
    filter: brightness(0.85);
}

.muted {
    font-size: 12px;
    line-height: 1.5;
    color: #2D232E;
}